 #DayChoose {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
background:#F5F5F5;
layout:vbox;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
}
 #button0 {
padding-left:20;
halign:left;
height:44;
pressed-image:btn_back_touch;
width:88;
background-image:btn_back;
}
 #label0 {
halign:center;
weight:1;
height:fill;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel0 {
halign:center;
height:70.0;
layout:vbox;
width:300.0;
valign:CENTER;
}
 #panel2 {
padding-right:15;
halign:CENTER;
height:44;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #label7 {
halign:left;
height:fill;
widthWrap:90.0;
color:#000000;
font-size:17;
width:wrap;
font-family:default;
valign:center;
}
 #label8 {
halign:center;
weight:1;
height:fill;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label10 {
halign:center;
height:fill;
color:#000000;
font-size:14;
width:12;
font-family:default;
valign:center;
}
 #image1 {
height:16;
width:11;
}
 #panel1 {
halign:center;
height:60.0;
layout:vbox;
width:300.0;
valign:CENTER;
}
 #panel3 {
padding-right:15;
halign:CENTER;
height:44;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #label1 {
halign:left;
height:fill;
widthWrap:90.0;
color:#000000;
font-size:17;
width:wrap;
font-family:default;
valign:center;
}
 #label2 {
halign:center;
weight:1;
height:fill;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label3 {
halign:center;
height:fill;
color:#000000;
font-size:14;
width:12;
font-family:default;
valign:center;
}
 #image0 {
height:16;
width:11;
}
