 #Week {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F7F8F8;
width:fill;
valign:TOP;
}
 #panel0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel1 {
halign:LEFT;
height:44;
layout:hbox;
width:fill;
valign:center;
}
 #navigatorbar0 {
halign:LEFT;
background:#8080ff;
}
 #button0 {
padding-left:20;
halign:left;
height:40.0;
width:40.0;
background-image:clearbutton.png;
}
 #label0 {
halign:left;
height:fill;
color:#000000;
font-size:20;
width:160.0;
font-family:default;
valign:center;
}
 #button1 {
halign:right;
height:44;
widthWrap:84.0;
color:#000000;
width:wrap;
}
 #panel8 {
padding-left:20;
halign:left;
height:20.0;
layout:vbox;
width:fill;
valign:TOP;
}
 #label7 {
halign:left;
height:wrap;
widthWrap:30.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:top;
}
 #panel2 {
halign:left;
height:176;
layout:vbox;
width:fill;
valign:CENTER;
}
 #panel9 {
border-bottom-width:1;
padding-left:5;
padding-right:15;
halign:CENTER;
width:fill;
border-bottom-color:#c0c0c0;
border-top-width:1;
border-top-color:#c0c0c0;
height:44;
background:#ffffff;
layout:hbox;
valign:center;
}
 #label8 {
halign:center;
height:wrap;
widthWrap:15.0;
color:#e50011;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label9 {
margin-right:4;
halign:left;
height:fill;
widthWrap:108.0;
color:#000000;
font-size:17;
width:wrap;
font-family:default;
valign:center;
}
 #textbox3 {
padding-left:4;
halign:RIGHT;
height:fill;
weight:1;
color:#000000;
font-size:17;
background:#ffffff;
width:0;
font-family:default;
}
 #panel7 {
padding-right:15;
padding-left:5;
halign:CENTER;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #label5 {
halign:center;
height:wrap;
widthWrap:15.0;
color:#e50011;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label6 {
margin-right:4;
halign:left;
height:fill;
widthWrap:108.0;
color:#000000;
font-size:17;
width:wrap;
font-family:default;
valign:center;
}
 #textbox2 {
padding-left:4;
halign:RIGHT;
height:fill;
weight:1;
color:#000000;
font-size:17;
background:#ffffff;
width:0;
font-family:default;
}
 #panel6 {
border-bottom-width:1;
padding-left:5;
padding-right:15;
halign:CENTER;
width:fill;
border-bottom-color:#c0c0c0;
border-top-width:1;
border-top-color:#c0c0c0;
height:44;
background:#ffffff;
layout:hbox;
valign:center;
}
 #label3 {
halign:center;
height:wrap;
widthWrap:15.0;
color:#e50011;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label4 {
margin-right:4;
halign:left;
height:fill;
widthWrap:108.0;
color:#000000;
font-size:17;
width:wrap;
font-family:default;
valign:center;
}
 #textbox1 {
padding-left:4;
halign:RIGHT;
height:fill;
weight:1;
color:#000000;
font-size:17;
background:#ffffff;
width:0;
font-family:default;
}
 #panel5 {
padding-right:15;
padding-left:5;
halign:CENTER;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #label1 {
halign:center;
height:wrap;
widthWrap:15.0;
color:#e50011;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label2 {
margin-right:4;
halign:left;
height:fill;
widthWrap:90.0;
color:#000000;
font-size:17;
width:wrap;
font-family:default;
valign:center;
}
 #textbox0 {
padding-left:4;
halign:RIGHT;
height:fill;
weight:1;
color:#000000;
font-size:17;
background:#ffffff;
width:0;
font-family:default;
}
 #panel3 {
border-top-color:#c0c0c0;
halign:LEFT;
height:132;
layout:hbox;
width:fill;
valign:center;
border-top-width:1;
}
 #textarea0 {
padding-left:4;
padding-top:14;
halign:LEFT;
height:132;
color:#167ef8;
background:#ffffff;
font-size:17;
width:fill;
font-family:default;
padding-bottom:14;
}
 #panel4 {
halign:LEFT;
height:60;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #camera0 {
height:50;
width:50;
}
 #panel10 {
halign:LEFT;
height:60.0;
layout:hbox;
width:fill;
valign:center;
}
 #label10 {
halign:center;
height:wrap;
widthWrap:52.0;
color:#000000;
heightWrap:58.0;
font-size:12;
width:wrap;
font-family:default;
valign:center;
padding-bottom:40;
}
 #panel11 {
margin-right:20;
halign:CENTER;
height:40;
background:#0080ff;
layout:hbox;
width:fill;
margin-left:20;
valign:center;
}
 #button2 {
halign:left;
height:40.0;
widthWrap:54.0;
color:#000000;
width:wrap;
}
 #panel12 {
halign:center;
height:0;
weight:2;
layout:vbox;
width:fill;
valign:TOP;
}
